#
# Example serviced configuration file
#

name = example
type = service
# depend = 
cmd = /usr/bin/example
on_error = ignore
#ready_file = /tmp/example.ready